body {
  position: relative;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.box {
  display: table;
  content: "";
  clear: both;
  width: 700px;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
}

.content_box {
  display: inline-block;
  width: 690px;
  margin: auto;
  padding: 20px;
  border: 2px solid;
}

.content_bar {
  display: block;
  width: 160px;
  height: 100%;
  padding: 20px;
}

p {
  text-align: center;
}

.message_box {
  display: inline-block;
  width: 1000px;
  height: 100%;
  margin: 0;
  float: left;
}

.inbox_box {
  display: inline-block;
  overflow: auto;
  float: left;
  margin-top: -15px;
  width: 825px;
  height: 315px;
  padding-top: 5px;
  border-bottom: 2px solid;
  border-radius: 10px;
}

.profile_box {
  border: 2px solid;
  border-radius: 10px;
}
